.bold {
     font-size: 16px;
     font-weight: 500;
}
.page-body {
    position: relative;
    margin-top: 100px;
    margin-left: 60px;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 40px;
}
.button {
    border-radius: 5px;
    border: none;
    background-color: dodgerblue;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin: 10px;
    padding: 5px 15px;
}
.button1 {
    border-radius: 5px;
    border: none;
    background-color: dodgerblue;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    padding: 5px 15px;
}
.button:hover, .button1:hover {
    background-color: blue;
}
.cart-span {
    margin-right: 15px;
    font-size: 16px;
    font-weight: 600;
}
.remove {
    color: red;
    margin-right: 10px;
    cursor: pointer;
}
.cart-container {
    display: flex;
    justify-content:space-between;
}
.mt-45 {
    margin-top: 45px;
}
.cart-container > .img {
    padding: 10px;
    padding-top: 20px;
    width: 100px;
}
.cart-actions {
    margin-right: 35px;
}
.cart-actions > span {
    margin: 0 10px;
}
.cart-footer {
    margin-top: 50px;
}
.cart-details {
    width: 500px;
}
.billing {
    margin-top: 20px;
    height: 35px;
}